// -------- Fonts --------

$font-family-main: Helvetica, sans-serif;

// -------- Colors --------

$black: #000;
$white: #fff;

$red: #f00;

$birch: #d2b48c;
$oak: #af8b4c;
$chestnut: #8b5219;
$mahogany: #3e2727;

// -------- Common Variables --------

$badge-background: $red;
$badge-color: $white;
$border-radius-default: 8px;
$container-padding: 16px;
$header-height: 54px;
$page-background: $oak;
$shadow-blur-default: 2px;
$shadow-blur-raised: 2px;
$shadow-color-default: #0007;
$shadow-color-raised: #0003;
$shadow-offset-x-default: 0;
$shadow-offset-x-raised: 0;
$shadow-offset-y-default: 1px;
$shadow-offset-y-raised: -1px;
$shadow-spread-default: 2px;
$shadow-spread-raised: 1.5px;
$theme-color-dark: $mahogany;
$theme-color-light: $birch;

$header-button-width: $header-height;
$shadow-default: $shadow-offset-x-default $shadow-offset-y-default
  $shadow-blur-default $shadow-spread-default $shadow-color-default;
$shadow-raised: inset $shadow-offset-x-raised $shadow-offset-y-raised
  $shadow-blur-raised $shadow-spread-raised $shadow-color-raised;

$shadow-inset-default: inset $shadow-default;
