// -------- Fonts --------

$font-family-main: Helvetica,sans-serif;

// -------- Colors --------

$birch: #d2b48c;
$black: #000;
$chestnut: #8b5219;
$oak: #af8b4c;
$mahogany: #3e2727;
$white: #fff;

// -------- Common Variables --------

$border-radius-default: 8px;
$block-border-radius: 4px;
$block-gap-to-size-ratio: 0.05;
$container-padding: 16px;
$header-height: 54px;
$page-background: $oak;
$shadow-blur-default: 2px;
$shadow-blur-raised: 2px;
$shadow-color-default: #0007;
$shadow-color-raised: #0003;
$shadow-offset-x-default: 0;
$shadow-offset-x-raised: 0;
$shadow-offset-y-default: 1px;
$shadow-offset-y-raised: -1px;
$shadow-spread-default: 2px;
$shadow-spread-raised: 1.5px;
$theme-color-dark: $mahogany;
$theme-color-light: $birch;

$board-background-color: $theme-color-dark;
$header-button-width: $header-height;
$shadow-default:
  $shadow-offset-x-default
  $shadow-offset-y-default
  $shadow-blur-default
  $shadow-spread-default
  $shadow-color-default;
$shadow-raised: inset
  $shadow-offset-x-raised
  $shadow-offset-y-raised
  $shadow-blur-raised
  $shadow-spread-raised
  $shadow-color-raised;

$shadow-inset-default: inset $shadow-default;

// -------- Module Variables --------

$Button-background: $theme-color-light;
$Button-border-style: solid;
$Button-border-color: $theme-color-dark;
$Button-border-radius: 2 * $border-radius-default;
$Button-border-width-base: 4px;
$Button-color: $theme-color-dark;
$Button-font-size-base: 16px;
$Button-padding-left-right-base: 12px;
$Button-padding-top-bottom-base: 6px;

// -------- Component Variables --------

// App

$App-button-border-width: 4px;
$App-button-corner-padding: 4px;
$App-button-corner-radius: 70%;
$App-button-width: $header-button-width;
$App-font-family: $font-family-main;
$App-header-height: $header-height;

// Board

$Board-background-color: $board-background-color;
$Board-border-radius: $border-radius-default;
$Board-shadow: $shadow-default;
$Board-shadow-inset: $shadow-inset-default;
$Board-cell-border-radius: $block-border-radius;
$Board-divider-color: $chestnut;
$Board-padding: 2%;

// Block

$Block-background-normal: $theme-color-light;
$Block-shadow: $shadow-raised;

// Game

$Game-header-gap: 16px;
$Game-padding-bottom: 2 * $container-padding;
$Game-padding-side: $container-padding;
$Game-padding-top: $container-padding;
$Game-pieces-background: $board-background-color;
$Game-pieces-border-radius: $border-radius-default;
$Game-pieces-gap: 16px;
$Game-pieces-padding: 8px;
$Game-pieces-shadow: $shadow-inset-default;
$Game-score-background-color: $theme-color-dark;
$Game-score-border-radius: $border-radius-default;
$Game-score-shadow: $shadow-inset-default;
$Game-score-color: $theme-color-light;
$Game-score-font-size: 16px;
$Game-score-font-weight: bold;
$Game-score-line-height: 1.2;
$Game-score-padding-side: 12px;
$Game-score-padding-vertical: 8px;
$Game-scores-padding-side: $header-height;

$Game-score-padding: $Game-score-padding-vertical $Game-score-padding-side;

// Home

$Home-background: $page-background;
$Home-button-gap: 16px;
$Home-logo-margin-bottom: 32px;
$Home-padding-bottom: 5vh;
$Home-padding-side: 32px;
$Home-padding-top: 5vh;

// LevelSelect

$LevelSelect-background: $page-background;
$LevelSelect-home-button-height: $header-height;
$LevelSelect-padding-bottom: 1.5 * $container-padding;
$LevelSelect-padding-left: $container-padding;
$LevelSelect-padding-right: $container-padding;
$LevelSelect-padding-top: $header-height + $container-padding;

// Settings

$SettingsPage-background: $page-background;
$SettingsPage-checkbox-border-radius: 25%;
$SettingsPage-checkbox-border-width: 2px;
$SettingsPage-checkbox-color: $theme-color-light;
$SettingsPage-checkbox-margin: 12px;
$SettingsPage-checkbox-size: 32px;
$SettingsPage-padding-bottom: 1.5 * $container-padding;
$SettingsPage-padding-side: $container-padding;
$SettingsPage-padding-top: $header-height + 1.5 * $container-padding;
$SettingsPage-setting-background: $theme-color-dark;
$SettingsPage-setting-border-radius: $border-radius-default;
$SettingsPage-setting-color: $theme-color-light;
$SettingsPage-setting-font-size: 18px;
$SettingsPage-setting-font-weight: bold;
$SettingsPage-setting-margin: 16px;
$SettingsPage-setting-padding: 12px;
