// -------- Fonts --------

$font-family-main: Helvetica,sans-serif;

// -------- Colors --------

$birch: #d2b48c;
$black: #000;
$chestnut: #763b00;
$oak: #af8b4c;
$mahogany: #3e2727;
$white: #fff;

// -------- Common Variables --------

$border-radius-default: 8px;
$container-padding: 16px;
$header-height: 54px;
$page-background: $oak;
$theme-color-dark: $mahogany;
$theme-color-light: $birch;

$header-button-width: $header-height;

// -------- Module Variables --------

$Button-background: $theme-color-light;
$Button-border-style: solid;
$Button-border-color: $theme-color-dark;
$Button-border-radius: 16px;
$Button-border-width-base: 4px;
$Button-color: $theme-color-dark;
$Button-font-size-base: 16px;
$Button-padding-left-right-base: 12px;
$Button-padding-top-bottom-base: 6px;

// -------- Component Variables --------

// App

$App-button-border-width: 4px;
$App-button-corner-padding: 4px;
$App-button-corner-radius: 70%;
$App-button-width: $header-button-width;
$App-font-family: $font-family-main;
$App-header-height: $header-height;

// Board

$Board-background: $theme-color-dark;
$Board-border-color: $chestnut;

// Game

$Game-header-background-color: $theme-color-dark;
$Game-header-color: $theme-color-light;
$Game-header-font-size: 24px;
$Game-header-font-weight: bold;
$Game-header-gap: 16px;
$Game-padding-bottom: 2 * $container-padding;
$Game-padding-side: $container-padding;
$Game-padding-top: $header-height + $container-padding;
$Game-score-border-radius: 8px;
$Game-score-padding: 8px 12px;

// Home

$Home-background: $page-background;
$Home-logo-margin-bottom: 32px;
$Home-padding-bottom: 5vh;
$Home-padding-side: 32px;
$Home-padding-top: 5vh;

// LevelSelect

$LevelSelect-background: $page-background;
$LevelSelect-home-button-height: $header-height;
$LevelSelect-padding-bottom: 1.5 * $container-padding;
$LevelSelect-padding-left: $container-padding;
$LevelSelect-padding-right: $container-padding;
$LevelSelect-padding-top: $header-height + $container-padding;

// Settings

$SettingsPage-background: $page-background;
$SettingsPage-checkbox-border-radius: 25%;
$SettingsPage-checkbox-border-width: 2px;
$SettingsPage-checkbox-color: $theme-color-light;
$SettingsPage-checkbox-margin: 12px;
$SettingsPage-checkbox-size: 32px;
$SettingsPage-padding-bottom: 1.5 * $container-padding;
$SettingsPage-padding-side: $container-padding;
$SettingsPage-padding-top: $header-height + 1.5 * $container-padding;
$SettingsPage-setting-background: $theme-color-dark;
$SettingsPage-setting-border-radius: $border-radius-default;
$SettingsPage-setting-color: $theme-color-light;
$SettingsPage-setting-font-size: 18px;
$SettingsPage-setting-font-weight: bold;
$SettingsPage-setting-margin: 16px;
$SettingsPage-setting-padding: 12px;
