// -------- Fonts --------

$font-family-main: Helvetica,sans-serif;

// -------- Colors --------

$black: #000;
$blue: #135;
$gold: #b80;
$gray: #ccc;
$gray-light: #eee;
$green: #283;
$green-light: #ad8;
$orange: #f90;
$red: #c00;
$teal: #5a90bb;
$white: #fff;
$yellow: #ed8;

// -------- Common Variables --------

$border-radius-default: 8px;
$container-padding: 16px;
$header-height: 54px;
$page-background: $teal;
$page-font-color: $white;
$word-background: $white;
$word-border-color: $black;
$word-border-radius: 9999px;
$word-border-style: solid;
$word-border-width: 1px;
$word-color: $black;
$word-font-size: 16px;

$header-button-width: $header-height;

// -------- Module Variables --------

$Button-background: $word-background;
$Button-border-style: $word-border-style;
$Button-border-color: $word-border-color;
$Button-border-radius: $word-border-radius;
$Button-border-width-base: 2 * $word-border-width;
$Button-color: $word-color;
$Button-font-size-base: $word-font-size;
$Button-padding-left-right-base: 12px;
$Button-padding-top-bottom-base: 6px;

// -------- Component Variables --------

// App

$App-button-border-width: 4px;
$App-button-corner-padding: 4px;
$App-button-corner-radius: 70%;
$App-button-width: $header-button-width;
$App-font-family: $font-family-main;
$App-header-height: $header-height;

// Game

$Game-padding-top: $header-height;

// Home

$Home-background: $page-background;
$Home-logo-margin-bottom: 32px;
$Home-padding-bottom: 5vh;
$Home-padding-side: 32px;
$Home-padding-top: 5vh;

// LevelSelect

$LevelSelect-background: $page-background;
$LevelSelect-home-button-height: $header-height;
$LevelSelect-padding-bottom: 1.5 * $container-padding;
$LevelSelect-padding-left: $container-padding;
$LevelSelect-padding-right: $container-padding;
$LevelSelect-padding-top: $header-height + $container-padding;

// Settings

$SettingsPage-background: $page-background;
$SettingsPage-checkbox-border-radius: 25%;
$SettingsPage-checkbox-border-width: 2px;
$SettingsPage-checkbox-color: $teal;
$SettingsPage-checkbox-margin: 12px;
$SettingsPage-checkbox-size: 32px;
$SettingsPage-padding-bottom: 1.5 * $container-padding;
$SettingsPage-padding-side: $container-padding;
$SettingsPage-padding-top: $header-height + 1.5 * $container-padding;
$SettingsPage-setting-background: $white;
$SettingsPage-setting-border-radius: $border-radius-default;
$SettingsPage-setting-color: $black;
$SettingsPage-setting-font-size: 18px;
$SettingsPage-setting-font-weight: bold;
$SettingsPage-setting-margin: 16px;
$SettingsPage-setting-padding: 12px;
