@import '~/sass/common.scss';

/** @define Block */

.Block {
  border-radius: $block-border-radius;
  height: 100%;
  width: 100%;

  &--normal {
    box-shadow: $Block-shadow;
    background: $Block-background-normal;
  }

  &--preview {
    opacity: 0.5;
  }
}
