@use "../../sass/variables";

$background-normal: variables.$theme-color-light;
$border-radius: 10%;
$shadow: variables.$shadow-raised;

$emit: true !default;
@if $emit {
  .Block {
    border-radius: $border-radius;
    height: 100%;
    width: 100%;

    &__normal {
      box-shadow: $shadow;
      background: $background-normal;
    }

    &__preview {
      opacity: 0.5;
    }
  }
}
