@use 'sass:math';
@import '~/sass/base.scss';
@import '~/sass/common.scss';

$icon-size: 512px;

.Icon {
  --block-gap-ratio: #{$block-gap-to-size-ratio};

  height: $icon-size;
  width: $icon-size;
  background: $page-background;
  padding: math.div($icon-size, 16);

  * {
    box-shadow: none !important;
  }

  .Board {
    height: 100%;
    width: 100%;
  }
}

.Download {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  &-button {
    &:not(:hover) {
      text-decoration: underline;
    }
  }
}
