@use "../../sass/base";
@use "../../sass/variables";

* {
  touch-action: manipulation;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  background: variables.$page-background;
}
