@import '~/sass/base.scss';
@import '~/sass/common.scss';

* {
  touch-action: manipulation;
}

html,
body,
#react-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1);
  background: $page-background;
}
