@use "../../sass/variables";
@use "../Block";

$background-color: variables.$theme-color-dark;
$border-radius: variables.$border-radius-default;
$shadow: variables.$shadow-default;
$shadow-inset: variables.$shadow-inset-default;
$cell-border-radius: Block.$border-radius;
$divider-color: variables.$chestnut;
$padding: 2%;

$emit: true !default;
@if $emit {
  .Board {
    box-shadow: $shadow-inset;
    border-radius: $border-radius;
    background-color: $background-color;
    padding: $padding;

    &_grid {
      display: grid;
      box-shadow: $shadow;
      height: 100%;
      width: 100%;
      background-color: $divider-color;
    }

    &_cell {
      position: relative;
      box-shadow: $shadow-inset;
      border-radius: Block.$border-radius;
      background-color: $background-color;
    }

    &_cellOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
