@import '~/sass/common.scss';

/** @define Board */

.Board {
  box-shadow: $Board-shadow-inset;
  border-radius: $Board-border-radius;
  background-color: $Board-background-color;
  padding: $Board-padding;

  &-grid {
    display: grid;
    box-shadow: $Board-shadow;
    height: 100%;
    width: 100%;
    background-color: $Board-divider-color;
    padding: calc(100% / (1 + var(--board-size) * #{1 + 1 / $block-gap-to-size-ratio}));
    grid-template-columns: repeat(var(--board-size), 1fr);
    gap: calc(100% / (1 + var(--board-size) * #{1 + 1 / $block-gap-to-size-ratio}));
  }

  &-cell {
    box-shadow: $Board-shadow-inset;
    border-radius: $block-border-radius;
    background-color: $Board-background-color;
  }
}
