@use "../../sass/mixins";
@use "../../sass/modules/Button";
@use "../../sass/variables";

$button-border-width: 4px;
$button-corner-padding: 4px;
$button-corner-radius: 70%;
$button-width: variables.$header-button-width;
$font-family: variables.$font-family-main;
$header-height: variables.$header-height;

$emit: true !default;
@if $emit {
  .App {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: $font-family;

    &__reducedMotion &_homeButton,
    &__reducedMotion &_home,
    &__reducedMotion &_settings,
    &__reducedMotion &_level {
      transition: none !important;
    }

    &_homeButton,
    &_settingsButton {
      @include Button.default;

      display: flex;
      position: absolute;
      top: 0;
      height: $button-width;
      width: $button-width;
      border-radius: 0;
      border-width: $button-border-width;
      border-top: 0;
      justify-content: center;
      align-items: center;
    }

    &_homeButton {
      @include mixins.z-index("appLevelselectButton");

      left: 0;
      border-bottom-right-radius: $button-corner-radius;
      border-left: 0;
      padding: 0 $button-corner-padding $button-corner-padding 0;
    }

    &.is_showingSettings &_homeButton,
    &.is_showingSettings &_home,
    &.is_showingSettings &_level,
    &.is_showingHome &_homeButton,
    &.is_showingHome &_level {
      visibility: hidden;
      transition: visibility 0.3s;
    }

    &_homeButtonIcon,
    &_settingsButtonIcon {
      height: 70%;
      width: 70%;
      object-fit: contain;
    }

    &_settingsButton {
      @include mixins.z-index("appSettingsButton");

      right: 0;
      border-bottom-left-radius: $button-corner-radius;
      border-right: 0;
      padding: 0 0 $button-corner-padding $button-corner-padding;
    }

    &_settingsBadge {
      display: flex;
      position: absolute;
      top: 1px;
      left: $button-corner-padding + 1px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid currentColor;
      background: variables.$badge-background;
      justify-content: center;
      align-items: center;
      color: variables.$badge-color;
      font-size: 12px;
      font-weight: bold;
    }

    &_home,
    &_settings {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &_home,
    &_settings {
      transition: transform 0.3s;
    }

    &:not(.is_showingHome) &_home,
    &:not(.is_showingSettings) &_settings {
      visibility: hidden;
      transition: transform 0.3s, visibility 0.3s;
    }

    &_home {
      @include mixins.z-index("appHome");
    }

    &:not(.is_showingHome) &_home {
      transform: translateY(-100%);
    }

    &_settings {
      @include mixins.z-index("appSettings");
    }

    &:not(.is_showingSettings) &_settings {
      transform: translateX(100%);
    }

    &_level {
      @include mixins.z-index("appLevel");

      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
