@import '~/sass/common.scss';

/** @define Game */

.Game {
  display: flex;
  height: 100%;
  width: 100%;
  padding:
    $Game-padding-top
    $Game-padding-side
    $Game-padding-bottom;
  flex-direction: column;
  justify-content: center;

  &-header {
    margin-bottom: $Game-header-gap;
  }

  &-scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $Game-header-gap;
  }

  &-score {
    display: flex;
    box-shadow: $Game-score-shadow;
    border-radius: $Game-score-border-radius;
    background-color: $Game-score-background-color;
    padding: $Game-score-padding;
    justify-content: space-between;
    color: $Game-score-color;
    font-size: $Game-score-font-size;
    font-weight: $Game-score-font-weight;
    white-space: pre;
  }

  &-pieces {
    display: grid;
    margin-top: $Game-pieces-gap;
    gap: $Game-pieces-gap;
  }

  &-pieceSlot {
    display: flex;
    box-shadow: $Game-pieces-shadow;
    aspect-ratio: 1;
    border-radius: $Game-pieces-border-radius;
    background: $Game-pieces-background;
    justify-content: center;
    align-items: center;
  }
}
