@import '~/sass/common.scss';

/** @define Game */

.Game {
  display: flex;
  height: 100%;
  width: 100%;
  padding:
    $Game-padding-top
    $Game-padding-side
    $Game-padding-bottom;
  flex-direction: column;
  justify-content: center;

  &-header {
    margin-bottom: $Game-header-gap;
  }

  &-scores {
    display: grid;
    padding: 0 $Game-scores-padding-side;
    grid-template-columns: 1fr 1fr;
    gap: $Game-header-gap;
  }

  &-score {
    display: flex;
    box-shadow: $Game-score-shadow;
    border-radius: $Game-score-border-radius;
    background-color: $Game-score-background-color;
    padding: $Game-score-padding;
    justify-content: flex-end;
    gap: 0.5ch;
    line-height: $Game-score-line-height;
    color: $Game-score-color;
    font-size: $Game-score-font-size;
    font-weight: $Game-score-font-weight;
    white-space: pre;
  }

  &-scoreIcon {
    margin-right: auto;
    height: $Game-score-line-height * $Game-score-font-size;
  }

  &-main {
    $total-main-fixed-vertical-space: $Game-padding-top + 2 * $Game-score-padding-vertical + $Game-score-line-height * $Game-score-font-size + $Game-header-gap + $Game-pieces-gap + $Game-padding-bottom;

    display: flex;
    align-self: center;
    width: 100%;
    max-width: calc((100vh - #{$total-main-fixed-vertical-space - $Game-pieces-gap} - #{$Game-pieces-gap} / var(--num-pieces)) / (1 + 1 / var(--num-pieces)));
    max-width: calc((100svh - #{$total-main-fixed-vertical-space - $Game-pieces-gap} - #{$Game-pieces-gap} / var(--num-pieces)) / (1 + 1 / var(--num-pieces))); // Use svh if supported to fix iOS Safari
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
  }

  &-board {
    max-height: calc(100vw - #{2 * $Game-padding-side});
    flex-grow: 1;
  }

  &-pieces {
    display: flex;
    margin-top: $Game-pieces-gap;
    justify-content: center;
    align-items: flex-start;
    gap: $Game-pieces-gap;
  }

  &-pieceSlot {
    display: flex;
    box-shadow: $Game-pieces-shadow;
    width: 0;
    aspect-ratio: 1;
    flex-grow: 1;
    border-radius: $Game-pieces-border-radius;
    background: $Game-pieces-background;
    padding: $Game-pieces-padding;
  }

  &-pieceWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &-draggingPieceWrapper {
    position: relative;
  }

  &-draggingPiece {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
