@import '~/sass/common.scss';

/** @define Game */

.Game {
  display: flex;
  height: 100%;
  width: 100%;
  padding:
    $Game-padding-top
    $Game-padding-side
    $Game-padding-bottom;
  flex-direction: column;
  justify-content: center;
  user-select: none;

  &-header {
    margin-bottom: $Game-header-gap;
  }

  &-scores {
    display: grid;
    padding: 0 $Game-scores-padding-side;
    grid-template-columns: 1fr 1fr;
    gap: $Game-header-gap;
  }

  &-score {
    display: flex;
    box-shadow: $Game-score-shadow;
    border-radius: $Game-score-border-radius;
    background-color: $Game-score-background-color;
    padding: $Game-score-padding;
    justify-content: flex-end;
    gap: 0.5ch;
    line-height: $Game-score-line-height;
    color: $Game-score-color;
    font-size: $Game-score-font-size;
    font-weight: $Game-score-font-weight;
    white-space: pre;
  }

  &-scoreIcon {
    margin-right: auto;
    height: $Game-score-line-height * $Game-score-font-size;
  }

  &-main {
    $total-main-fixed-vertical-space: $Game-padding-top + 2 * $Game-score-padding-vertical + $Game-score-line-height * $Game-score-font-size + $Game-header-gap + $Game-pieces-gap + $Game-padding-bottom;

    display: flex;
    align-self: center;
    width: 100%;
    max-width: calc((100vh - #{$total-main-fixed-vertical-space - $Game-pieces-gap} - #{$Game-pieces-gap} / var(--num-pieces)) / (1 + 1 / var(--num-pieces)));
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;

    // Use svh if supported, for browsers with floating address bar
    @supports(max-width: 100svh) {
      max-width: calc((100svh - #{$total-main-fixed-vertical-space - $Game-pieces-gap} - #{$Game-pieces-gap} / var(--num-pieces)) / (1 + 1 / var(--num-pieces)));
    }
  }

  &-board {
    max-height: calc(100vw - #{2 * $Game-padding-side});
    flex-grow: 1;
  }

  &-pieces {
    display: flex;
    margin-top: $Game-pieces-gap;
    justify-content: center;
    align-items: flex-start;
    gap: $Game-pieces-gap;
  }

  &-pieceSlot {
    display: flex;
    position: relative;
    box-shadow: $Game-pieces-shadow;
    width: 0;
    flex-grow: 1;
    border-radius: $Game-pieces-border-radius;
    background: $Game-pieces-background;

    &::after {
      width: 100%;
      padding-top: 100%; // aspect-ratio: 1
      content: '';
    }
  }

  &-pieceWrapper {
    display: flex;
    position: absolute;
    top: $Game-pieces-padding;
    left: $Game-pieces-padding;
    height: calc(100% - #{2 * $Game-pieces-padding});
    width: calc(100% - #{2 * $Game-pieces-padding});
    justify-content: center;
    align-items: center;
  }

  &-pieceDragAnchor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Hide the piece when the drag anchor is being hidden
  &-pieceDragAnchor[style*="opacity:"] + &-piece {
    opacity: 0;
  }

  &-activePieceWrapper {
    position: relative;
    top: -50%;
    margin-top: $Game-dragging-piece-offset-top;
    height: 100%;
    width: 100%;
  }

  &-activePiece {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-clearedBlockOverlay {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    animation: clearedBlock 0.6s linear forwards;
  }
}

// Cleared Block Animation
@keyframes clearedBlock {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scale(1.2) rotate(72deg);
    opacity: 0.8;
  }

  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}
