@import '~/sass/common.scss';

/** @define Button */

%Button {
  text-align: center;

  &--colored {
    border-style: $Button-border-style;
    border-color: $Button-border-color;
    background: $Button-background;
    color: $Button-color;
  }

  &--shaped {
    border-radius: $Button-border-radius;
  }
}

@mixin ButtonSize($scale: 1) {
  border-width: $scale * $Button-border-width-base;
  padding:
    $scale * $Button-padding-top-bottom-base
    $scale * $Button-padding-left-right-base;
  font-size: $scale * $Button-font-size-base;
}
