@use "../../sass/variables";

$background: variables.$theme-color-light;
$border-style: solid;
$border-color: variables.$theme-color-dark;
$border-radius: 2 * variables.$border-radius-default;
$border-width-base: 4px;
$color: variables.$theme-color-dark;
$font-size-base: 16px;
$padding-left-right-base: 12px;
$padding-top-bottom-base: 6px;

@mixin default($scale: 1) {
  border-radius: $border-radius;
  border: $scale * $border-width-base $border-style $border-color;
  background: $background;
  padding: $scale * $padding-top-bottom-base $scale * $padding-left-right-base;
  color: $color;
  text-align: center;
  font-size: $scale * $font-size-base;
}
